.page{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 80%;
    height:90%;
    position: relative;
    display: flex;
    flex-direction: column;

}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.info{
    height: 90%;
    width: 30%;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}
.images img{
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    height: 60%;
    width: 30%;
    transition: 0.3s ease;
}
.images img:hover{
    transform: translateY(-20px);
}
.info{
    display: grid;
    text-align: center;
    place-items: center;
}
#name{
    font-size: 2rem;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
.info span{
    font-size: 1.1rem;
    
    padding: 3px;
    border-bottom: 2px solid black;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.next, .prev{
    top: 30%;
    position: absolute;
    background:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 0.3s ease;
}
.next:hover , .prev:hover{
    background: black;
    color: white;
    box-shadow: none;
}
.next{
    right: -60px;
}
.prev{
    left: -60px;
}

@media all and (max-width:670px){
    .page{
        min-height: 60vh;
    }
    .header{
        height: auto;
        flex-direction: column;
    }
    .images{
        overflow-y: auto;
        height: 50%;
        flex-wrap: wrap;
    }
    .images img{
        height: 40%;
        width: 42%;
    }
}

@media all and (max-width:600px){
    .next,.prev{
        z-index: 10;
        top: 10px;
    }
    .next{
        right: -10px;
    }
    .prev{
        left: -10px;
    }
}